* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
header {
  display: flex;
  align-items: center;
  background-color: #aaaaaa3f;
  height: 70px;
}
.title_container{
  flex: 1;
  display: flex;
  align-items: center;
}
.title_container > h1 {
  color: #5c5c5c;
  font-weight: 400;
  font-size: 24px;
}
#search_container{
  position: relative;
  flex: 2;
  display: flex;
  align-items: center;
}

#search_container .fa-magnifying-glass{
  position: absolute;
  font-size: 20px;
  left: 10px;
  color: rgba(0, 0, 0, 0.4);
}

#search_container .fa-xmark{
  position: absolute;
  font-size: 20px;
  right: 10px;
  color: rgba(0, 0, 0, 0.4);
}

#search_container input{
  width: 100%;
  height: 50px;
  font-size: 18px;
  padding: 15px;
  border: none;
  outline: none;
  border-radius: 5px;
  padding-left: 40px;
  font-size: 20px;
  font-weight: 300;
}

main {
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
}
#input_container {
  position: relative;
  /* visibility: hidden; */
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 500px;
  border-radius: 5px;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302),
    0 2px 6px 2px rgba(60, 64, 67, 0.149);
}

#input_container .fa-square-check{
  position: absolute;
  font-size: 25px;
  right: 10px;
  color: rgba(0, 0, 0, 0.4);
}

#todo {
  visibility: hidden;
  /* position: absolute; */
  width: 100%;
  /* height: 40px; */
  font-size: 16px;
  padding: 15px;
  border: none;
  outline: none;
  border-radius: 5px;
}
.description_container{
  display: flex;
  margin: auto;
  width: 500px;
  border-radius: 5px;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302),
    0 2px 6px 2px rgba(60, 64, 67, 0.149);
}
#description{
  /* display: none; */
  /* position: absolute; */
  width: 100%;
  height: 120px;
  font-size: 16px;
  padding: 15px;
  border: none;
  outline: none;
  border-radius: 5px;
}

.account_container{
  flex: 1;
}

#notes_list{
  margin: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.todo_container{
  margin: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 200px;
  border-radius: 10px;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302),
  0 2px 6px 2px rgba(60, 64, 67, 0.149);
}



